<h1>Detail page for yield #<%=@yield.id%></h1>

<p>Plant: <%= @yield.plant %></p>
<p>Today's total: <%= @yield.number %></p>

<a href = "/yields">Back to all yields</a>
<a href = "/plants">Back to garden</a>