#container {
  background: #F7F7DE;
  width: 1440px;
  height: 1440px;
}

#content {
  background: white;
  width: 1300px;
  height: 1440px;
  margin: 0 auto;
}

header {
  background: #878f6d;
  width: 1300px;
  height: 100px;
  margin: 0 auto;
  position:fixed;
  border-bottom: 2px solid #656e5c;
  z-index: 9999;
}

.plant_detail:before, .plant_detail:after {
  content: " ";
  display: table;
}

.plant_detail:after {
  clear: both;
}

#plant_info {
 padding: 120px 0 0 100px;
 float: left;
}

#plant_info h1 {
  text-transform: uppercase;
  text-align: center;
}

#plant_info h2 {
  text-align: center;
}

#plant_image {
  padding-top: 60px;
  float: right;
}

.plant_yield {
  position: relative;
  height: 80px;
  background: #d9abc0;
  color: white;
  border-top: 2px solid #a35894;
  border-bottom: 2px solid #a35894;
}

.plant_yield:before, .plant_yield:after {
  content: " ";
  display: table;
}

.plant_yield:after {
  clear: both;
}

#yield_display {
  position: absolute;
  top: -25px;
  left: 200px;
  background: #d9abc0;
  height: 120px;
  width: 120px;
  border: 8px solid white;
  border-radius: 100px;
}

#yield_display p {
  font-size: 60px;
  text-align: center;
  margin-top: 25px;
}

#how_much_yield {
  background: #d9abc0;
  float: right;
  padding-right: 80px;
}

#how_much_yield p {
  font-size: 24px;
  float: right;
  color: #a35894;
}

#add_yield_button {
  background: white;
  float: right;
  margin-right: 200px;
  margin-top: 15px;
  height: 46px;
  width: 200px;
  border: 4px solid #a35894;
  border-radius: 20px;
}

#add_yield_button a {
  text-decoration: none;
  color: #a35894;
}

#add_yield_button p {
  padding-left: 25px;
  padding-bottom: 5px;
}