<h1>Add a new tip</h1>

<form action = "/plants/<%=@plant.id%>/create_tip" method = "post">
  <input type = "text" name = "info">
  <input type = "submit">
</form>
  
<p><a href = "/tips">Back to all tips</a></p>
<p><a href = "/plants">Back to garden</a></p>