<div class="index">

  <div class="index_table">

  <h1>These are all of your tips</h1>

  <ul>
    <% @tips.each do |tip| %>
      <li><a href = "/tips/<%=tip.id%>"><%= tip.info %>:</a><br>
      <% tip.plants.each do |plant| %>
        <a href = "/plants/<%=plant.id%>"><%= plant.name %></li>
      <% end %>
    <% end %>
  </ul>
  
  </div>
  
  <div class="add_new_button">
    <p><a href="#">ADD NEW TIP</a></p>
  </div>
  
</div>