<h1>Update tip</h1>

<p>You have successfully updated your tip to read: <a href = "/tips/<%=@tip.id%>">"<%= @tip.info %>"</a>!</p>

<p><a href = "/tips">Back to all tips</a></p>
<p><a href = "/plants">Back to garden</a></p>