<h1>Add a new plant to the garden</h1>

<form action = "/plants/create" method = "post">
  <input type = "text" name = "name">
  <input type = "submit">
</form>

<p><a href = "/plants">Back to garden</a></p>