<h1>Add a new plant to the garden</h1>

<form action = "/plants/create" method = "post" id = "create_plant">
  <input type = "text" name = "name" id="plant_name">
  <input type = "submit">
</form>

<p><a href = "/plants">Back to garden</a></p>



<!-- <form method="get" action="results.html" id="the_form">
    <p>
      <label>Paint Color:</label>
      <input type="text" name="paint_color" id="paint_color">
      <span class="error">Invalid</span>
    </p>

    <p>
      <label>Quantity</label>
      <input type="text" name="quantity">
     <span class="error">Must be greater than zero.</span> -->
    <!-- </p>

    <input type="submit" id="submit_button" disabled>
  </form> -->